@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Cabin:ital,wght@0,400..700;1,400..700&family=Gaegu&family=Klee+One&family=Poiret+One&family=Quicksand:wght@300..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import "tailwindcss";

/* great background color: #ff5500*/
/* red alternate #f00f0f */

@theme inline {
    --color-primary: var(--color-sky-800);
    --color-secondary: var(--color-yellow-300);
    /*--color-secondary: #ffd35b;*/
    --color-accent: #ee3211;
    --color-background: #fff0e0;
    --color-header: var(--color-secondary);
    --color-button: var(--color-primary);
    --color-button-text: var(--color-secondary);

    --font-title: var(--font-bagel);
    --font-body: var(--font-poiret-one);
    --font-accent: var(--font-body);

    /* FONT COMBOS
     - bagel + poiret/cabin (maaaybe klee)
      - poiret + bagel (not bold)

    */
    --font-bagel: "Bagel Fat One", cursive;
    --font-poiret-one: "Poiret One", cursive;

    /* body options */
    --font-klee: "Klee One", cursive;
    --font-quicksand: "Quicksand", sans-serif;
    --font-cabin: "Cabin", sans-serif;

    /* placeholder text */
    --font-gaegu: "Gaegu", sans-serif;


}

* {
    /*outline: 1px solid red;*/
}
