@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gaegu&family=Italiana&family=Klee+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tsukimi+Rounded&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-montserrat-alt: "Montserrat Alternates", sans-serif;
    --font-winky-rough: "Winky Rough", cursive;
    --font-gaegu: "Gaegu", sans-serif;
    --font-bagel: "Bagel Fat One", cursive;
    --font-klee: "Klee One", cursive;
    --font-tsukimi: "Tsukimi Rounded", cursive;
    --font-italiana: "Italiana", serif;
    --font-raleway: "Raleway", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
}


* {
    /*outline: 1px solid red;*/
}